
<section>
<h1>Trabajemos juntos</h1>
<h2>Contactame por:</h2>
<span id="abajo" >
    <a href="mailto:scollopilar@gmail.com">
     
    <span id="mail" class="ele">
        <img src="../../../assets/gmail.png" alt="">
    </span>

</a>
<a href="https://wa.me/+542236794598">
    <span id="what" class="ele">
        <img src="../../../assets/what.png" alt="">
       
        </span>
</a>
    
    <a href="https://www.linkedin.com/in/pilar-scollo-4005481aa/">
        <span id="linke" class="ele">
            <img src="../../../assets/linkedin.png" alt="">
           
            </span>
    </a>
        
</span>

</section>