<section id=" contenedora">

    <h2 id="titulo">Realizo proyectos de desarrollo web de manera independiente</h2>
    <h3>Esto incluye:</h3>
    <!--
        Realizo proyectos de desarrollo web de manera independiente

        Esto incluye:

        * tarjetas x 4 (componentes)
    -->
    <section id="tarjetas">
        <app-tarjetas [tipo]="'diseño'" [detalle]="'Pensando en tus necesidades'"></app-tarjetas>
        <app-tarjetas [tipo]="'desarrollo'" [detalle]="'En base a lo planificado'"></app-tarjetas>
        <app-tarjetas [tipo]="'documentacion'" [detalle]="'Una buna y completa documentación'"></app-tarjetas>
        <app-tarjetas [tipo]="'reuniones'" [detalle]="'Reuniones necesarias '"></app-tarjetas>
    </section>
    
</section>