<section>

    <!--
        * nombre del proyecto
        video 
        descripcion 
        caracteristicas
    -->
    <h2>Proyecto Cosmoverso</h2>
    <span id="arriba">
        <video width="640" height="360" controls>
            <source src="../../../assets/2024-01-13 15-43-54.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
    
        <span id="izquierda">
            <span id="descripcion">
                <p id="des">
                    <b>
                    El proyecto consistia en una pagina web  donde el objetivo 
                    principal era hacer una plataforma interactiva para chicos y 
                    adolecentes donde pudieran conocer mas sobre el espacio y 
                    nuestro universo. </b>
                </p>
            </span>
            <h3>Caracteristicas principales:</h3>
            <ul>
                <b>
                <li>Chat-bot personalizado</li>
                <li>Diseño de acuerdo con la temática</li>
                <li>Juegos y actividades</li></b>
            </ul>
        </span>
       



    </span>
    

 
</section>
