<section>
<h2>Proyecto Cosmoverso</h2>
    <span id="arriba">
        
    
        <img src="../../../assets/rabatex.jpeg" width=50%>
        <span id="izquierda">
            <span id="descripcion">
                <p id="des">
                    <b>
                        Proyecto de gestion y control, de ingresos
y egresos, ademas de provedores, mercaderia y gastos para una empresa de comestibles.

                    </b>
                </p>
            </span>
            <h3>Caracteristicas principales:</h3>
            <ul>
                <b>
                <li>Gestion de datos</li>
                <li>Administración de base de datos</li>
                <li>Creación de api</li>
                <li style="color: red;">En proceso</li></b>
            </ul>
        </span>
       



    </span>
    

 
</section>

